@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
.nav__main {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.nav__main.hide {
  transform: translateY(-100%);
}

.nav__main.show {
  transform: translateY(0);
}

.nav__container {
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 20px;
  -webkit-backdrop-filter: saturate(200%) blur(30px);
  backdrop-filter: saturate(200%) blur(30px);
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  cursor: pointer;
}

.nav__logo span {
  font-size: 1.8rem;
}

.nav__img {
  width: 40px;
}

.nav__menu {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav__list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__link {
  color: #815f5f;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 20px;
  align-items: center;
  text-align: center;
}
.nav__link:hover {
  color: black;
  transform: scale(1.1);
  transition: 0.5s;
}

.drop__main {
  display: none;
}
.dropdown {
  list-style-type: none;
  position: absolute;
  top: 150%;
  left: -100px;
  background-color: #f19f6d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  z-index: 1000;
  min-width: 700px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.dropdown::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 115px;
  width: 0;
  z-index: 1000;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f19f6d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dropdown a {
  display: block;
  margin: 5px;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  text-align: center;
}
.dropdown a:hover {
  background-color: white;
  color: #f19f6d;
  cursor: pointer;
  border-radius: 20px;
}

.nav__list:hover .drop__main {
  display: block;
}

.nav__searchbox {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 5px 40px;
  border-radius: 20px;
  border: 2px solid rgb(155, 155, 155);
}

.nav__searchbox input[type="text"] {
  border: none;
  background: none;
  margin-right: 10px;
}

.nav__searchbox input[type="text"]:focus {
  outline: none;
}

.nav__listicon {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__icon {
  font-size: 1.2rem;
  color: #dd2466;
}

.nav__icon:hover {
  color: #ffcc00;
  cursor: pointer;
}

.flip-animation {
  display: flex;
  justify-content: center;
  transform: translate3d(0, 0, 0);
}

.flip-animation > span {
  font-size: 1.4rem;
  color: #000000;
  animation: flipping 2s infinite;
}

.flip-animation > span:nth-child(1) {
  animation-delay: 0.2s;
}

.flip-animation > span:nth-child(2) {
  animation-delay: 0.4s;
}

.flip-animation > span:nth-child(3) {
  animation-delay: 0.6s;
}

.flip-animation > span:nth-child(4) {
  animation-delay: 0.8s;
}

.flip-animation > span:nth-child(5) {
  animation-delay: 1s;
}

.flip-animation > span:nth-child(6) {
  animation-delay: 1.2s;
}
.flip-animation > span:nth-child(7) {
  animation-delay: 1.2s;
}

@keyframes flipping {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}
