@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

.loginregisterForm {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.wrapper {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.wrapper p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.wrapper span {
  font-size: 12px;
}

.wrapper a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.wrapper button {
  background-color: #512da8;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.wrapper button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.wrapper form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.wrapper input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.form-container.sign-in {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  right: 35px;
  top: 63%;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle-icon-signup {
  position: absolute;
  right: 35px;
  top: 80%;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle-icon-forgot {
  position: absolute;
  right: 35px;
  top: 55%;
  transform: translateY(-50%);
  cursor: pointer;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.wrapper.active .sign-in {
  transform: translateX(100%);
}

.wrapper.active-forgot .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.forgot {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.wrapper.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

.wrapper.active-forgot .forgot {
  transform: translateX(0%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
  transition: 0.8s ease;
}

.social-icons a:hover {
  border: 2px solid #bfe7f6;
  transform: scale(1.09);
}

.link-signin-signup-forgot {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link-signin-signup-forgot .link-forgot:hover,
.link-signin-signup-forgot .link-signup:hover {
  text-decoration: underline;
  cursor: pointer;
}

.link-signin-signup-forgot .link-signup {
  color: rgb(48, 20, 232);
  display: none;
  padding: 0;
  margin: 0;
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.wrapper.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle {
  background-image: url("/dog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle h1 {
  font-size: 2.5rem;
}

.wrapper.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.wrapper.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.wrapper.active .toggle-right {
  transform: translateX(200%);
}

@media (max-width: 735px) {
  .password-toggle-icon-forgot {
    top: 59%;
  }
  .password-toggle-icon-signup {
    top: 78%;
  }
}

@media (max-width: 640px) {
  .password-toggle-icon-forgot {
    top: 60%;
  }
}

@media (max-width: 560px) {
  .toggle-container {
    display: none;
  }
  .wrapper.active .sign-up {
    transform: translateX(0%);
  }
  .wrapper.active-forgot .forgot {
    transform: translateX(0%);
  }
  .form-container {
    width: 100%;
  }
  .link-signin-signup-forgot .link-signup {
    display: flex;
  }
  .password-toggle-icon-forgot {
    top: 55%;
  }
}

@media (max-width: 380px) {
  .password-toggle-icon-forgot {
    top: 59%;
  }
}
