.home__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.home__section {
  width: 100%;
  margin: 10px 0 10px 0;
}

.home__section.slider {
  height: 100vh;
  margin: 0;
}

.home__section.intro {
  height: 60vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__section.services {
  height: 60vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.intro__container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 400px;
  border-radius: 10px;
  text-align: center;
  background-color: #dad6d6;
}

.intro__container .intro__icon__main .intro__icon {
  margin: 0 16px 0 0;
}
.intro__icon {
  font-size: 1.5rem;
}

.services__top {
  width: 100%;
  flex: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.services__down {
  flex: 1;
}
.hotline__btn {
  padding: 20px;
  background-color: red;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.hotline__btn:hover {
  background-color: rgb(110, 1, 1);
}
.services__item {
  text-align: center;
}
.services__item img {
  width: 5rem;
  height: 5rem;
}

.services__item h4 {
  font-size: 1rem;
}
.services__item p {
  font-size: 0.8rem;
}

@media (max-width: 650px) {
  .home__section.slider {
    height: 80vh;
  }
  .home__section.intro {
    height: 40vh;
  }
  .intro__container {
    max-width: 400px;
    height: 250px;
  }
  .intro__container h1 {
    font-size: 1.3rem;
  }
  .intro__container p {
    font-size: 1rem;
  }
  .intro__icon {
    font-size: 1.2rem;
  }

  .services__item img {
    width: 3rem;
    height: 3rem;
  }
  .services__item h4 {
    font-size: 0.8rem;
  }
  .services__item p {
    font-size: 0.7rem;
  }

  .hotline__btn {
    padding: 10px;
    font-size: 1rem;
  }
}

@media (max-width: 550px) {
  .services__item img {
    width: 2rem;
    height: 2rem;
  }
  .services__item h4 {
    font-size: 0.8rem;
  }
  .services__item p {
    font-size: 0.7rem;
  }

  .hotline__btn {
    padding: 10px;
    font-size: 1rem;
  }
}
