.footer__container {
  background-color: #f5f2fe;
  color: #000000;
  padding: 20px 0;
}

.footer__content {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  flex-wrap: wrap;
}

.footer__section {
  max-width: 300px;
  flex: 1; /* Để các phần section có thể chia đều khoảng trống */
  margin: 10px;
}

.footer__section h4 {
  margin-bottom: 10px;
}

.footer__section p {
  margin: 5px 0;
}

.footer__socials {
  display: flex;
  gap: 10px;
}

.footer__social-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer__social-link:hover {
  color: #aaa;
}

.footer__bottom {
  text-align: center;
  border-top: 1px solid #555;
  padding-top: 10px;
}

.footer__bottom p {
  margin: 0;
}

@media (max-width: 768px) {
  .footer__content {
    flex-direction: column; /* Khi màn hình nhỏ hơn 768px, các phần sẽ xếp chồng lên nhau */
    text-align: center; /* Canh giữa nội dung */
  }

  .footer__section {
    margin-bottom: 20px; /* Tạo khoảng cách giữa các phần trên màn hình nhỏ */
  }

  .footer__socials {
    justify-content: center; /* Canh giữa các icon mạng xã hội */
  }
}

@media (max-width: 760px) {
  .footer__container {
    padding: 10px 0; /* Giảm khoảng padding cho màn hình nhỏ */
  }

  .footer__section {
    max-width: 100%; /* Cho phép phần tử chiếm toàn bộ chiều ngang */
  }

  .footer__section h4 {
    font-size: 16px; /* Giảm kích thước font tiêu đề cho màn hình nhỏ */
  }

  .footer__section p {
    font-size: 14px; /* Giảm kích thước chữ cho màn hình nhỏ */
  }

  .footer__social-link {
    font-size: 18px; /* Giảm kích thước icon mạng xã hội */
  }
}

@media (max-width: 480px) {
  .footer__container {
    padding: 10px 0; /* Giảm khoảng padding cho màn hình nhỏ */
  }

  .footer__section {
    max-width: 100%; /* Cho phép phần tử chiếm toàn bộ chiều ngang */
  }

  .footer__section h4 {
    font-size: 16px; /* Giảm kích thước font tiêu đề cho màn hình nhỏ */
  }

  .footer__section p {
    font-size: 14px; /* Giảm kích thước chữ cho màn hình nhỏ */
  }

  .footer__social-link {
    font-size: 18px; /* Giảm kích thước icon mạng xã hội */
  }
}
